/* src/app/globals.css */

html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #f8fafc, #f1f5f9);
}

.layout-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout-main {
    flex: 1;
}
/*  */