.container {
    padding-left: 2%;
    padding-right: 2%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: beige;
    width: 100%;
}

.form h1 {
    margin: 40px 0 20px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.row {
    display: flex;

}

.field {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 2%;
}

.field label {
    font-size: 14px;
    font-weight: 500;
}

.field input,
.field select {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;

    /* center inner */
    /* margin: 0 auto; */
}

.field textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    /* margin: 10px; */
}

.subjects {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 6px;
}

.subjectBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: white;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
    transition: all 0.2s;
}

.subjectBtn input {
    display: none;
    /* 체크박스 숨김 */
}

.subjectBtn input:checked+&,
.subjectBtn input:checked+span {
    background-color: #0070f3;
    color: white;
    border-color: #0070f3;
}


.submitBtn {
    width: 50%;
    padding: 12px;
    background: #0070f3;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px auto;
}

.submitBtn:hover {
    background: #0059c9;
}