.wrapper {
  width: 100%;
  height: 400px;
  perspective: 1000px;
  overflow: hidden;
}

.scene {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.card {
  position: absolute;
  width: 200px;
  height: 300px;
  left: 50%;
  top: 50%;
  will-change: transform;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  user-select: none;
  pointer-events: none;
}