.container {
  min-height: 100vh;
  margin: 0 auto;
  padding: 4rem 2rem;
  max-width: 1400px;
}

.columnGrid {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

@media (max-width: 768px) {
  .container {
    padding: 2rem 1rem;
  }

  .columnGrid {
    gap: 2rem;
  }
}