.wrapper {
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 150px;
    
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
}

.calendarBox {
    width: 100%;
}
