.container {
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 65px;

}

.form_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
}

.calendarBox {
    width: 100%;
}