.container {
    padding-left: 2%;
    padding-right: 2%;
}


.title {
    font-size: 28px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin-bottom: 24px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 24px;
}

.active {
    background: #100d74;
    color: white;     
    border-color: #100d74;
}

.menu button {
    padding: 10px 18px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background: #f8f8f8;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
}

.menu button.active {
    background: #100d74;
    color: white;
    border-color: #100d74;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 2fr;  /* 왼쪽 넓게, 오른쪽 좁게 */
    gap: 32px;
    padding-left: 20%;
    padding-right: 20%;
}

.left {
    padding: 20px;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: fit-content;
}

.right {
    background: #fafafa;
    padding: 20px;
    border-radius: 8px;
    height: fit-content;
}

.directMapBtn  {
    border-color: aqua;
    padding: 5px;
    border: round;
}

.mapWrap {
    width: 100%;
    height: 350px;
    margin: 16px 0;
    overflow: hidden;
    border-radius: 12px;
}

.mapWrap iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.actionBtns {
    margin: 10px;
    padding: 10px 16px;
    display: flex;
    justify-content: center;
    gap: 12px;
}


.actionBtn {
    padding: 10px 16px;
    background: #100d74;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
