/* src/app/page.module.css */
.container {
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
}

.popupContainer {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.popup {
    margin-bottom: 1rem;
}