/* src/components/Footer.module.css */

.footer {
    font-size: x-small;
    text-align: center;
    padding: 16px;
    background-color: #f5f5f5;
    color: #666;
    vertical-align: center;
}

.socials {
    margin-top: 10;
    display: flex;
    padding-top: 10px;
    background-color: #f5f5f5;
    justify-content: center;
}

.icon {
    font-size: 26px;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.icon:hover {
    transform: scale(1.1);
    opacity: 0.8;
}
