.campusBox {
    width: 100%;
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e7eb
}

.campusBox iframe {
    width: 100%;
    display: block;
}