
.campusBox {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.campusBox h3 {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.campusBox iframe {
    border-radius: 12px;
}

/* Mobile */
@media (max-width: 768px) {
    .campusSection {
        flex-direction: column;
    }
}