.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    box-sizing: border-box;
    position: fixed;
    border-bottom: 2px solid #e0e0e0;
    background-color: #fff;
    margin-top: 65px; /* Measured by Header height */
}

.navLinks {
    display: flex;
    gap: 20px;
}

.navLinks a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.navLinks a:hover {
    color:blue
}

.active {
    color: #0070f3;
    border-bottom: 2px solid #0070f3;
}