.navbar {
    position: sticky;
    top: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    box-sizing: border-box;
    border-bottom: 2px solid #e0e0e0;
    z-index: 1;
    background: linear-gradient(to bottom right, #f8fafc, #f1f5f9);
}

.navLinks {
    display: flex;
    gap: 40px;
}

.navLinks a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.navLinks a:hover {
    font-weight: 1000;
}

.active {
    color: #000;
    border-bottom: 2px solid #000;
}