.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.grid {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
}



.item {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 8px;
    border: 2px solid #000;
    transition: transform 0.2s ease;
}


.item img {
    object-fit: cover;
    transition: transform 0.25s ease;
}

.item:hover {
    transform: scale(1.05);
}

/* dots */
.dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
}

.tightDots {
    margin-top: 8px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
    border: none;
    cursor: pointer;
}

.dot:hover {
    background: #aaa;
}

.active {
    background: #333;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.modalContentWrapper {
    position: relative;
    width: 90vw;
    /* wrapper 충분히 넓게 */
    max-width: 1200px;
    /* 최대 너비 */
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 이미지 중앙 정렬 + max 크기 제한 */
.modalContentWrapper img {
    max-width: 80%;
    /* wrapper의 80%만 사용 */
    max-height: 100%;
    object-fit: contain;
    display: block;
    z-index: 1;
}

/* 버튼 */
.navButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    padding: 0 20px;
    z-index: 10;
    cursor: pointer;
}

.navButton.left {
    left: 0;
}

.navButton.right {
    right: 0;
}


.navButton.disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}