.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 2%;
}

.grid {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.item {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 8px;
    border: 2px solid #aaa;
    transition: transform 0.2s ease;
}

.item img {
    object-fit: cover;
    transition: transform 0.25s ease;
}

.item:hover {
    transform: scale(1.05);
}

/* dots */
.dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
}

.tightDots {
    margin-top: 8px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dot:hover {
    background: #aaa;
}

.active {
    width: 40px;
    height: 10px;
    border-radius: 5px;
    background-color: #0070f3;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.modalContentWrapper {
    position: relative;
    width: 90vw;
    max-width: 1200px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContentWrapper img {
    max-width: 80%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    z-index: 1;
}

.navButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    padding: 0 20px;
    z-index: 10;
    cursor: pointer;
}

.navButton.left {
    left: 0;
}

.navButton.right {
    right: 0;
}

.navButton.disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}