.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 2%;
    background-color: #fff;
}

.grid {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.item {
    position: relative;
    width: 90%;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 8px;
    border: 2px solid #aaa;
    transition: transform 0.2s ease;
}

.item img {
    object-fit: fill;
    transition: transform 0.25s ease;
}

.item:hover {
    transform: scale(1.05);
}

/* dots */
.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 20px;
}

/* Arrow Buttons */
.paginationArrow {
    padding: 0.25rem;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.2s;
    background: transparent;
    border: none;
    color: #100d74;
}

.paginationArrow:hover {
    background-color: #f3f3f3;
}

.paginationArrow:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

/* Dots Container */
.paginationDots {
    display: flex;
    gap: 0.5rem;
}

/* Dot Buttons */
.paginationDot {
    width: 1rem;
    height: 1rem;
    border-radius: 9999px;
    background-color: #d1d5db;
    transition: all 0.2s;
    cursor: pointer;
    border: none;
}

.paginationDot:hover {
    background-color: #9ca3af;
}

/* Active Dot */
.paginationDotActive {
    width: 2rem;
    background-color: #100d74;
}


/* Modal */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.modalContentWrapper {
    position: relative;
    width: 90vw;
    max-width: 1000px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContentWrapper img {
    max-width: 80%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    z-index: 1;
}

.navButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background: transparent;
    border: none;
    z-index: 10;
    cursor: pointer;
}

.navButton.left {
    left: 0;
}

.navButton.right {
    right: 0;
}

.navButton.disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}