.section {
    margin-bottom: 40px;
}

.grid {
    display: grid;
    gap: 28px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

/* cards */
.card {
    background: #fafafa;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
}

.profileImage {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 16px;
    background-color: #e5e5e5;
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.name {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.bio {
    font-size: 14px;
    color: #555;
    margin: 0;
}

.subSection strong {
    display: block;
    margin-bottom: 4px;
}
