.header {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    background: linear-gradient(to bottom right, #f8fafc, #f1f5f9);
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.headerInner {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logoWrap {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.title,
.title:link,
.title:visited,
.title:hover,
.title:active {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}

.langToggleWrapper {
    position: relative;
    display: flex;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 999px;
    overflow: hidden;
    cursor: pointer;
}

.langToggleWrapper button {
    flex: 1;
    padding: 6px 0;
    background: transparent;
    border: none;
    z-index: 2;
    font-weight: 500;
    color: #000;
    transition: color 0.3s;
}

.langToggleBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #100d74;
    border-radius: 999px;
    transition: transform 0.3s ease;
    z-index: 1;
}

.langToggleWrapper button.activeText {
    color: white;
}