.navLinks {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
    left: 50%;
}

.navLinks a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding-bottom: 4px;
}

.navLinks a:hover {
    color: #000;
}

.active {
    color: #000;
    border-bottom: 2px solid #000;
}