.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 6px;
    border: 1px solid hsl(0, 0%, 80%);
    padding: 2%;
    background-color: #fff;
}

.summary {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #f6f6f6;
    border-radius: 14px;
    padding: 20px;
    min-width: 100px;
}

.card:hover {
    size: 100px;
}

.cardTitle {
    font-size: 13px;
    color: #666;
}

.cardValue {
    font-size: 22px;
    font-weight: 600;
    margin-top: 6px;
}

