.container {
    display: grid;
    grid-template-columns: 2.2fr 1fr;
    gap: 40px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 40px;
}

/* page.module.css */
.active {
    background: black;
    color: white;
}

.container > div {
    flex: 1;
}

.active {
    background: black;
    color: white;
}

@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }
}