.container {
    padding-left: 2%;
    padding-right: 2%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: beige;
    width: 100%;
}

.form h1 {
    margin: 40px 0 20px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.row {
    display: flex;
    
}

.field {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 2%;
}

.field label {
    font-size: 14px;
    font-weight: 500;
}

.field input,
.field select {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;

    /* center inner */
    /* margin: 0 auto; */
}

.field textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    /* margin: 10px; */
}

.submitBtn {
    width: 50%;
    padding: 12px;
    background: #0070f3;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px auto;
}

.submitBtn:hover {
    background: #0059c9;
}