/* src/components/Footer.module.css */
.footer {
    font-size: x-small;
    text-align: center;
    padding: 16px;
    background: #fffff7;
    border: 2px solid #e0e0e0;
    color: #666;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    font-size: 26px;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.icon:hover {
    transform: scale(1.1);
    opacity: 0.8;
}